{% extends 'base.html.twig' %}

{% block title %}Car4Sure - Dashboard{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="navbar navbar-light sticky-top bg-light flex-md-nowrap px-2 shadow text-center">
                <span class="navbar-brand text-start">Car4Sure - Dashboard</span>
                <button class="navbar-toggler d-md-none collapsed text-end me-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" data-app-name="app_dashboard" href="{{
                            path('app_dashboard') }}">
                                <i class="fa fa-home"></i> Dashboard
                            </a>
                        </li>

                        {% if isAdmin %}

                            <li class="nav-item">
                                <a class="nav-link" data-app-name="app_dashboard_users" href="{{ path('app_dashboard_users') }}">
                                    <i class="fa fa-users"></i>
                                    Users
                                </a>
                            </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" data-app-name="app_dashboard_persons" href="{{ path
                                ('app_dashboard_persons') }}">
                                <i class="fa fa-person" aria-hidden="true"></i>
                                Persons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-app-name="app_dashboard_policies" href="{{ path
                                ('app_dashboard_policies') }}">
                                <i class="fa fa-shield" aria-hidden="true"></i>
                                Policies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-app-name="app_dashboard_vehicles" href="{{ path
                                ('app_dashboard_vehicles') }}">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                Vehicles
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="main-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3
                pb-2
                mb-3 border-bottom">
                    <h2>{{ title }}</h2>
                    {% block dashboardBtns %}{% endblock %}
                </div>

                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label|lower }} alert alert-{{ label|lower }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block dashboardBody %}{% endblock %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        [].forEach.call(document.querySelectorAll("#sidebarMenu a.nav-link"), function(el) {
            if (el.dataset.appName !== '{{ activeMenu }}') {
                el.classList.remove("active");
            } else {
                el.classList.add("active");
            }
        });

        $('.alert').fadeTo(2000, 500).slideUp(500, function () {
            $('.alert').slideUp(1000);
        })
    </script>

{% endblock %}
