{% extends 'dashboard/index.html.twig' %}

{% block dashboardBtns %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#usersCollapsible"
                    aria-expanded="false" aria-controls="usersCollapsible">New user</button>
        </div>
    </div>
{% endblock %}

{% block dashboardBody %}
    <div class="collapse" id="usersCollapsible">
        <div class="col-12">
            <div class="card card-shadowed">
                <header class="card-header">
                    <h4 class="card-title">
                        <span>Add new user</span>
                    </h4>
                </header>

                {{ form_start(form) }}

                <div class="card-body">
                    <div class="mw-800px mx-auto">
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.firstname) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.lastname) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(form.roles) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form_widget(form.isActive) }}
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="p-1 float-end">
                    {{ form_widget(form.register) }}
                </footer>

                <div class="d-none">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

    <table class="table table-striped table-responsive my-3">
        <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Status</th>
            <th>Created on</th>
            <th>Updated on</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>{{ user.isActive }}</td>
                <td>{{ user.createdAt|date('Y-m-d') }}</td>
                <td>{{ user.updatedAt|date('Y-m-d') }}</td>
                <td>
                    <span><button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button></span>
                    <span><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></span>
                    <span><button class="btn btn-primary"><i class="fa fa-eye"></i></button></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}