{% extends 'dashboard/index.html.twig' %}

{% block dashboardBtns %}

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-success rounded-1" href="{{ path('app_dashboard_policies') }}">List of policies</a>
        </div>
    </div>

{% endblock %}

{% block dashboardBody %}

    <div class="col-12" data-turbo="false">
        <div class="card card-shadowed">
            <header class="card-header">
                <h4 class="card-title">
                    <span>{% if policy and policy.policyNo %}Modify Policy : {{ "%010d"|format(policy.policyNo) }}{% else %}New Policy{%endif %}</span>
                </h4>
            </header>

            {{ form_start(form) }}

            <div class="card-body">
                <div class="mw-800px mx-auto">
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.type) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.effectiveDate) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.expirationDate) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_widget(form.status) }}
                        </div>
                    </div>

                    <div class="p-2 my-2 bg-primary-subtle">
                        <span class="text-truncate"><strong>Holder</strong></span>
                    </div>

                    <div class="row">
                        <div class="col-12">
{#                            {% if policy and policy.holder %}#}
{#                                {% set holderAddress = policy.holder.personAddress %}#}
{#                                <div class="row">#}
{#                                    <div class="col-4">#}
{#                                        <p class="text-truncate">#}
{#                                            <strong>Fullname :</strong>{{ policy.holder.fullname }}#}
{#                                        </p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                {{ form_widget(form.holder) }}#}
{#                            {% endif %}#}
                        </div>
                    </div>

                    <div class="p-2 my-2 bg-primary-subtle">
                        <span class="text-truncate"><strong>Drivers</strong></span>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form.drivers) }}
                        </div>
                    </div>

                    <div class="p-2 my-2 bg-primary-subtle">
                        <span class="text-truncate"><strong>Vehicles</strong></span>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form.vehicles) }}
                        </div>
                    </div>
                </div>
            </div>

            <footer class="p-1 float-end">
                {{ form_widget(form.register) }}
            </footer>

            <div class="d-none">
                {{ form_rest(form) }}
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}