{% extends 'dashboard/index.html.twig' %}

{% block dashboardBtns %}

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-info rounded-1 mx-3" href="{{ path('app_dashboard_policies_edit', {'id': policy.id}) }}">Editpolicy</a>
            <a class="btn btn-success rounded-1" href="{{ path('app_dashboard_policies') }}">List of policies</a>
        </div>
    </div>

{% endblock %}

{% block dashboardBody %}

    <div class="col-12">
        <div class="card card-shadowed">
            <header class="card-header">
                <h4 class="card-title">
                    <span>Policy No : <strong>{{ "%010d"|format(policy.policyNo) }}</strong> details</span>
                </h4>
            </header>

            <div class="card-body">
                <div class="mw-800px mx-auto">
                    <div class="row">
                        <div class="col-4">
                            <p class="text-truncate"><strong>Type :</strong>{{ policy.type }}</p>
                        </div>
                        <div class="col-4">
                            <p class="text-truncate"><strong>Effective date :</strong>{{ policy.effectiveDate|date('Y-m-d') }}</p>
                        </div>
                        <div class="col-4">
                            <p class="text-truncate"><strong>Expiration date :</strong>{{ policy.expirationDate|date('Y-m-d') }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="text-truncate"><strong>Status :</strong>{{ (policy.status) ? 'Active' : 'Inactive' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}