{% extends 'dashboard/index.html.twig' %}

{% block dashboardBtns %}

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-success rounded-1" href="{{ path('app_dashboard_vehicles') }}">List of vehicles</a>
        </div>
    </div>

{% endblock %}

{% block dashboardBody %}

    <div class="col-12">
        <div class="card card-shadowed">
            <header class="card-header">
                <h4 class="card-title">
                    <span>{% if vehicle %}Modify Vehicle : {{ vehicle.vin }}{% else %}New Vehicle{%endif %}</span>
                </h4>
            </header>

            {{ form_start(form) }}

            <div class="card-body">
                <div class="mw-800px mx-auto">
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.make) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.model) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.year) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.vin) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.annualMilleage) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.ownership) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(form.vehicleUsage) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.primaryUse) }}
                        </div>
                    </div>

                    <hr>

                    <div class="p-2 my-2 bg-primary-subtle">
                        <span class="text-truncate"><strong>Coverages</strong></span>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form.coverages) }}
                        </div>
                    </div>
                </div>
            </div>

            <footer class="p-1 float-end">
                {{ form_widget(form.register) }}
            </footer>

            <div class="d-none">
                {{ form_rest(form) }}
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}